* {
    max-width: 700px;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    padding: 10px;
    text-align: center;
}

body {
    background-color: #3007a0d2;
}

.cabeçalho {
    color: antiquewhite;
    background-image: url(../image/pexels.jpg);
    background-size: 100%;
}

.minhafoto {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

p {
    text-align: left;
}

img {
    width: 32px;
    height: 32px;
}

ul {
    list-style-type: none;

}

.tec {
    display: inline;

}